# IDE
bin/
.idea/
.classpath/
.settings/
.project
*.iml
.DS_Store

# Maven Build
target/

# C binaries are specific to the processor they are compile for
*.out

# Files not wanted in the archive
application.properties.backup
